
@import 'custom';

html, body {
  font-family: $font-stack-primary;
  font-size: $font-size;
}

body {
  background: $bg-body;
  color: $color-body;

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

html, body {
  height: 100%;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  line-height: $p-line-height;
}

a:not(.btn) {
  color: $color-primary;
  font-weight: 600;
}

a:not(.btn):hover,
a:not(.btn):active {
  color: $color-primary;
  text-decoration: none;
}

a:focus {
  outline: 0;
  text-decoration: none;
}

/*** Buttons Start ***/

.btn {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;

  padding: 0.5rem 2rem;
  line-height: calc(2.8125rem - 1rem - 3px);
  height: 2.8125rem;

  border-width: 1.5px;
  border-radius: 60px;

  transition: all .3s ease-out;
  &:focus,
  &.focus {
    box-shadow: none;
  }
  &-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }
  &-primary:not(:disabled):not(.disabled):active,
  &-primary,
  &-primary:focus {
    background-color: $color-primary;
    border-color: $color-primary;
    color: white;
  }
  &-primary:hover,
  &-primary:active:focus {
    background-color: darken($color-primary, 10%);
    border-color: darken($color-primary, 10%);
    color: white;
  }
  &-outline-purple,
  &-outline-purple:focus {
    background-color: transparent;
    border-color: #321BB3;
    color: $color-dark;
  }
  &-outline-purple:hover,
  &-outline-purple:active:focus {
    background-color: #321BB3;
    border-color: #321BB3;
    color: white;
  }
  &-dark,
  &-dark:focus {
    background-color: $color-dark;
    border-color: $color-dark;
    color: white;
  }
  &-dark:hover,
  &-dark:active:focus {
    background-color: $color-dark;
    border-color: $color-dark;
    color: white;
  }
  &-outline-dark,
  &-outline-dark:focus {
    background-color: transparent;
    border-color: $color-dark;
    color: $color-dark;
  }
  &-outline-dark:hover,
  &-outline-dark:active:focus {
    background-color: $color-dark;
    border-color: $color-dark;
    color: white;
  }
  &-outline-dark-faded,
  &-outline-dark-faded:focus {
    background-color: transparent;
    border-color: rgba($color-dark, 0.1);
    color: $color-dark;

    border-width: 1px;
  }
  &-outline-dark-faded:hover,
  &-outline-dark-faded:active:focus {
    background-color: $color-primary;
    border-color: $color-primary;
    color: white;
  }
}

/*** Buttons End ***/

/*** Misc Start ***/

.section {
  padding: $section-gutter 0;
  > .d-flex {
    margin: -$section-gutter 0;
    padding: $section-gutter 0;
  }
}

.section-heading {
  h3 {
    font-size: 1.75rem;
    font-weight: 600;
  }
  h3 + p {
    margin-top: 1rem;
  }
  p {
    max-width: 36.25rem;

    margin-bottom: 0;

    font-size: 1rem;
    font-weight: 300;
    line-height: 1.525;
  }
  .tag + * {
    margin-top: 1.25rem;
  }
  .tag {
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;

    display: inline-block;
  }
}

.section-heading.text-center {
  p {
    @include centered;
  }
}

.section-heading-alt {
  h3 {
    font-size: 2rem;
    font-weight: 700;
  }
  h3 + p {
    margin-top: 1rem;
  }
  p {
    max-width: 36.25rem;

    margin-bottom: 0;

    font-size: 1rem;
    line-height: 1.625;
  }
}

.section-heading-alt.text-center {
  p {
    @include centered;
  }
}

.section-heading-xl {
  h3 {
    font-size: 2rem;
    font-weight: 600;
  }
  h3 + p {
    margin-top: 1rem;
  }
  p {
    max-width: 36.25rem;

    font-size: 1rem;
    font-weight: 300;
    line-height: 1.625;
  }
  .tag + * {
    margin-top: 1rem;
  }
  .tag {
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;

    display: inline-block;
  }
}

.section-heading-xl.text-center {
  p {
    @include centered;
  }
}

//Grid mods
$grid-gutter: 15px;

.container {
  width: 100%;

  max-width: 1440px;
}

.container-fluid {
  width: 100%;
}

.overflow-h {
  overflow: hidden;
}

.bg-white {
  background-color: white;
}

.bg-light {
  background-color: #F8F9FD !important;
}

.bg-light-2 {
  background-color: #FBFCFE !important;
}

.bg-gradient-primary {
  background: linear-gradient(241.25deg, #FF2459 0%, #FF6733 18.26%, #FF9433 37.41%, #FFAF63 59.1%, #FFBA33 100%);
}

*:focus {
  outline: 0 !important;
}

/*** Misc End ***/

/*** Header Start ***/

header {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;

  z-index: 2019;

  background-color: white;
  box-shadow: 0 4px 25px rgba(black, 0.05);
}

.navbar-expand-md {
  background-color: transparent;

  border: 0;
  border-radius: 0;

  margin: 0;
}

.navbar-nav {
  .nav-item > .nav-link {
    color: $color-body;

    font-weight: 600;

    transition: color 300ms ease;
  }
  .nav-item > .nav-link:hover {
    background-color: transparent;
  }
  .nav-item > .nav-link:focus {
    background-color: transparent;
  }
}

.navbar-column:nth-child(2) {
  margin-left: auto;
}

.navbar-column:nth-child(2),
.navbar-column:nth-child(3) {
  display: none;
}

.navbar-column:nth-child(3) .navbar-nav {
  justify-content: flex-end;
}

.navbar {
  .container {
    justify-content: space-between;
  }
}

.sub-navigation-is-open {
  overflow: hidden;
}

.sub-navigation {
  position: absolute;

  top: 100%;
  left: 0;
  right: 0;

  padding: 3rem 0 4rem;

  background-color: white;
  border-top: 1px solid #F8F9FD;

  box-shadow: 0 30px 50px rgba(black, 0.1);

  opacity: 0;
  display: none;

  transition: opacity .3s ease;

  z-index: 2018;
  &-content {
    display: none;
  }
  &-category {
    font-weight: 600;
    font-size: 2.625rem;
    color: $color-dark;

    margin-bottom: 1rem;
  }
  &-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &-list li + li {
    margin-top: 0.5rem;
  }
  &-list li a {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.425;

    display: inline-block;

    color: $color-body;
  }
  &-list li a.active {
    color: $color-primary;
  }
  &-list li a:hover {
    color: $color-primary;
  }
}

.sub-navigation-open {
  opacity: 1;
}

[data-trigger="navigation"] {
  position: relative;
  display: block;
}

.language-selector {
  position: relative;
  > i {
    margin-right: 0.25rem;

    position: relative;
  }
  //&:after {
  //  content: "\f107";
  //
  //  position: absolute;
  //
  //  top: 50%;
  //  right: 0;
  //
  //  transform: translateY(-50%);
  //
  //  font-family: "Font Awesome 5 Pro";
  //  font-weight: 300;
  //
  //  pointer-events: none;
  //}
  //select {
  //  border: 0;
  //  -webkit-appearance: none;
  //
  //  padding-right: 1rem;
  //}
}

.custom-dropdown {
  position: absolute;
  top: 100%;
  left: 50%;

  transform: translateX(-50%);

  min-width: calc(100% - 2rem);
  width: 180px;

  margin-top: 1rem;

  background-color: white;
  box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.1);

  opacity: 0;
  display: none;
  transition: all .3s ease;
  &:before {
    content: "";

    background-color: white;
    box-shadow: -2px -2px 8px rgba(black, 0.05);

    position: absolute;
    top: 0;
    left: 50%;

    transform: rotate(45deg);

    width: 1rem;
    height: 1rem;

    margin-top: -0.5rem;
    margin-left: -0.5rem;
  }
}

.custom-dropdown-open {
  opacity: 1;
}

.custom-dropdown-list {
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;

  background-color: white;

  border-radius: inherit;

  position: relative;
  z-index: 2;
  li a {
    color: $color-dark;

    padding: 0.6rem 1rem;

    display: block;

    font-size: 15px;
    font-weight: 600;

    transition: all 300ms ease;
  }
  li a:hover {
    text-decoration: none;

    background-color: $color-primary;
    color: white;
  }
}

.nav-dropdown {
  position: relative;
}

a.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 0;

  transform: translate(-50%, 50%);

  width: 4rem;
  height: 4rem;

  font-size: 1.75rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  color: #321BB3;
  box-shadow: 0 0 15px rgba(black, 0.1);

  border-radius: 50%;

  z-index: 99;
}

.navbar-brand {
  img {
    height: 24px;
  }
}

.mobile-menu {
  position: fixed;

  top: 0;
  right: 0;

  transform: translate3d(100%, 0, 0);

  transition: transform 400ms cubic-bezier(0.86, 0, 0.07, 1);

  width: 100%;
  height: 100%;

  max-width: calc(100% - 2rem);

  background-color: white;

  display: flex;
  flex-direction: column;

  z-index: 2020;
}

.mobile-menu.mobile-navigation-active {
  transform: translate3d(0, 0, 0);
}

.navbar:before {
  content: "";

  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  background-color: rgba(black, 0.6);

  opacity: 0;

  transition: opacity 300ms ease;

  pointer-events: none;

  z-index: 2018;
}

.mobile-navigation-is-active .navbar:before {
  opacity: 1;
}

.mobile-menu-inner {
  padding: 2rem;

  flex: 1;

  display: flex;
  flex-direction: column;
}

.mobile-menu-content {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.mobile-menu-list {
  list-style: none;
  padding: 0;
  margin: -1rem 0;
  > li + li > a {
    border-top: 1px solid #F1F1F1;
  }
  > li > a {
    position: relative;

    font-size: 1.125rem;
    font-weight: 600;

    display: block;
    padding: 1rem 0;

    color: $color-body;
  }
  > li > a:before {
    content: "\f054";

    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    font-size: 1.5rem;

    color: $color-body;

    position: absolute;

    top: 0.5em;
    right: 0;

    transition: transform 100ms ease;
  }
  > li > a:hover:before {
    color: $color-primary;
  }
  > li > a[data-collapsible="true"].is-active:before {
    color: $color-primary;
    transform: rotate(90deg);
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.mobile-menu-list > li ul {
  margin-top: -0.5rem;
  li a {
    font-weight: 300;

    display: block;
    padding: 1rem 0;

    color: $color-body;
  }
  li + li a {
    border-top: 1px solid #F1F1F1;
  }
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;

  transition: max-height 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.mobile-menu-top {
  margin-bottom: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-close {
  position: relative;

  display: block;

  width: 2rem;
  height: 2rem;

  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
  &:before,
  &:after {
    content: "";

    position: absolute;

    top: 0;
    left: 1rem;

    width: 3px;
    height: 100%;

    background-color: black;
  }
  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
}

.mobile-menu-footer {
  margin-top: auto;
}

.mobile-menu-footer ul {
  list-style: none;
  padding: 0;
  margin: 0 -0.5rem;

  display: flex;
  li {
    padding: 0 0.5rem;
  }
  li a {
    display: flex;
  }
  li:nth-child(1) {
    flex: 1;
  }
  li:nth-child(2) {
    flex: 0.8;
  }
}

/*** Header End ***/

/*** Hero Start ***/

.hero {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  > .d-flex {
    width: 100%;
    padding: 4rem 0;

    position: relative;
    z-index: 99;
  }
  > .d-flex > .d-flex {
    width: 100%;
  }
}

.hero-grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  padding: 0;
}

.hero-media {
  width: 100%;
}

.hero-alt {
  .hero-media {
    margin-bottom: 2rem;
  }
}

.hero-media-image {
  //margin-bottom: -28.75%;
  img {
    max-width: 100%;
  }
}

.hero-media-video {
  video {
    max-width: 100%;
  }
}

.hero-content {
  width: 100%;
}

.hero-content-text {
  h1 {
    font-weight: 600;

    max-width: 36rem;
  }
  h1 + p {
    margin-top: 1rem;
  }
  h1 + *:not(p) {
    margin-top: 2rem;
  }
  p {
    font-weight: 300;

    max-width: 28rem;

    margin-bottom: 0;
  }
  p + p {
    margin-top: 1.5rem;
  }
  p strong {
    font-weight: 600;
  }
  p + .btn {
    margin-top: 2rem;
  }
}

.hero-alt-auto {
  .hero-content-text h1 {
    font-weight: 600;
  }
  .hero-content-text p {
    font-style: italic;
  }
}

.hero-alt {
  .hero-content-text {
    h1 {
      font-size: 2rem;
    }
    h1 + p {
      margin-top: 1.25rem;
    }
    .tag + h1 {
      margin-top: 1.25rem;
    }
    p {
      font-size: 1rem;
    }
    .tag {
      font-size: 0.875rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;

      display: inline-block;
    }
  }
  .hero-content-text.text-center h1 {
    @include centered;
    max-width: 40rem;
  }
  .hero-content-text.text-center p {
    @include centered;
    max-width: 40rem;
  }
}

.hero-media-wide-image {
  img {
    display: block;
    max-width: 100%;
    @include centered;
  }
}

#hero-home {
  position: relative;
  overflow: hidden;
  //&:before {
  //  content: "";
  //
  //  position: absolute;
  //
  //  top: 0;
  //  right: 0;
  //
  //  width: 60%;
  //  height: 100%;
  //
  //  background-color: #F8F9FD;
  //
  //  border-radius: 0 0 0 64px;
  //}
}

#hero-home {
  > .d-flex {
    padding-top: $header-padding;
    padding-bottom: 2rem;
  }
  .hero-media-image {
    background-color: #F8F9FD;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin-left: -15px;
    margin-right: -15px;
  }
  .hero-media-image:before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.hero-alt {
  > .d-flex {
    padding-top: calc(#{$header-padding} + 2rem);
    padding-bottom: 2rem;
  }
}

.section-first {
  padding-top: calc(#{$header-padding} + 2rem);
  padding-bottom: 2rem;
  > .d-flex {
    padding-top: calc(#{$header-padding} + 2rem);
    padding-bottom: 2rem;
  }
}

#hero-our-differrence {
  .hero-content-text {
    h1 {
      font-weight: 700;
    }
    p {
      font-size: 1.125rem;

      line-height: $p-line-height;
    }
  }
}

.hero-error {
  > .d-flex {
    padding-top: calc(#{$header-padding} + 2rem);
  }
  .tag {
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;

    display: inline-block;
  }
  .hero-content-text h1 {
    max-width: 800px;
  }
  .hero-content-text p {
    max-width: 530px;
  }
  .hero-content-text {
    .tag + * {
      margin-top: 2rem;
    }
    h1 + p {
      margin-top: 2rem;
    }
    p + p {
      margin-top: 2rem;
    }
  }
}

.hero-full-h {
  > .d-flex {
    min-height: 90vh;
  }
}

#hero-people-analytics {
  .hero-media-wide-image {
    max-width: 90rem;
    @include centered;
  }
}

/*** Hero End ***/

/*** Main Start ***/

.highlight {
  background: linear-gradient(to right, rgba($color-primary, 0.7) 0%, rgba($color-primary, 0.7) 100%);
  background-repeat: repeat-x;
  background-position: 0 88%;
  background-size: 100% 0.25em;

  font-weight: 600;
}

.trusted {
  h3 {
    font-size: 1.9375rem;
    font-weight: 600;
  }
  p {
    margin-bottom: 0;

    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.425;

    color: $color-gray;
  }
  h3 + p {
    margin-top: 0.5rem;
  }
}

.ul-trusted {
  list-style: none;
  padding: 0;
  margin: -15px;

  display: flex;
  justify-content: center;
  align-items: center;
  li {
    padding: 15px;
  }
  li a {
    display: block;
  }
  li a img {
    height: 32px;

    filter: grayscale(100%);

    opacity: 0.6;
  }
  li:nth-child(4) a img {
    height: 16px;
  }
}

.slide-grid {
  display: flex;
  flex-flow: row wrap;
  &-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.slide-grid-media-image {
  padding-bottom: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  margin-left: -15px;
  margin-right: -15px;
}

.slide-grid-media-diagram {
  background-color: #F8F9FD;

  padding: 2rem 15px;

  margin-left: -15px;
  margin-right: -15px;

  border-radius: 0;
  img {
    max-width: 100%;

    margin-bottom: -10px;
  }
  img[data-trigger="enlarge"]:hover {
    cursor: pointer;
  }
  a[data-trigger="enlarge"] {
    margin-top: 30px;

    display: none;
  }
}

.slide-grid-content-text {
  //text-align: center;

  max-width: 33.125rem;

  @include centered;
  h2 {
    font-size: 2rem;
    font-weight: 600;
  }
  h2 + p {
    margin-top: 1rem;
  }
  h3 {
    font-size: 1.75rem;
    font-weight: 600;
  }
  h3 + p {
    margin-top: 1rem;
  }
  * + img {
    margin-top: 2rem;
  }
  .ul-bullets {
    font-size: 1rem;
    text-align: left;
  }
  * + .ul-bullets {
    margin-top: 1.5rem;
  }
  .ul-bullets + * {
    margin-top: 1.5rem;
  }
  p {
    margin-bottom: 0;

    font-size: 1rem;
    font-weight: 300;
    line-height: 1.525;
  }
  p + p {
    margin-top: 1.5rem;
  }
  p + .btn {
    margin-top: 2rem;
  }
  * + ul {
    margin-top: 1.5rem;
  }
}

.slide-grid-testimonial-brand {
  img {
    mix-blend-mode: darken;

    max-height: 4rem;

    margin: unset;
  }
}

.slide-grid-testimonial-author {
  padding-left: 2.5rem;
  cite {
    font-size: 1.125rem;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
  }
  p {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.425;
  }
}

.slide-grid-testimonial-content {
  margin-top: 2rem;
  margin-bottom: 2rem;

  padding-left: 2.5rem;

  position: relative;
  p:before {
    content: "“";

    position: absolute;
    top: 0;
    left: 0;

    margin-top: -0.025em;

    font-size: 6rem;
    font-weight: 300;
    line-height: 1;
  }
  p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.625;
  }
}

strong {
  font-weight: 600;
}

.testimonial {
  border-radius: 4px;

  padding: 1.75rem;

  height: 100%;

  background-color: white;
  box-shadow: 0 25px 30px -15px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  &-brand {
    margin-bottom: 1.5rem;
    img {
      max-height: 40px;
    }
  }
  &-content {
    margin-bottom: 0.75rem;
    p {
      margin-bottom: 0;

      font-weight: 300;
      line-height: 1.525;

      color: #757679;
    }
    p:before {
      content: "\201C";

      display: inline-block;
      margin-right: -0.25em;
    }
    p:after {
      content: "\201d";

      display: inline-block;
      margin-left: -0.25em;
    }
  }
  &-author {
    margin-top: auto;
    margin-bottom: 1.5rem;
    cite {
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 600;

      text-transform: uppercase;

      display: inline-block;
    }
  }
  &-action {
    text-align: right;
  }
}

img[data-bg="true"] {
  display: none !important;
}

.swiper-testimonials-wrapper {
  position: relative;

  padding: 0 5rem;
  .swiper-pagination {
    position: relative;

    margin-top: 20px;
  }
  .swiper-pagination-bullet {
    opacity: 0.1;

    width: 10px;
    height: 10px;

    margin: 0 5px;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;

    background-color: $color-primary;
  }
}

.swiper-testimonials {
  position: relative;
  overflow: hidden;

  padding: 0 15px 40px;
  margin-bottom: -40px;
  .swiper-slide {
    flex-grow: 1;
    height: unset;
  }
}

.swiper-values-wrapper {
  position: relative;

  padding: 0 5rem 40px;
  margin-bottom: -40px;
}

.swiper-values {
  position: relative;
  overflow: hidden;

  padding: 0 15px 40px;
  .swiper-slide {
    flex-grow: 1;
    height: unset;
  }
}

.swiper-people-data-media-wrapper {
  position: relative;

  max-width: 28rem;
  @include centered;
  .swiper-pagination {
    position: relative;

    margin-top: -12px;
  }
  .swiper-pagination-bullet {
    opacity: 0.1;

    width: 10px;
    height: 10px;

    margin: 0 5px;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;

    background-color: $color-primary;
  }
}

.swiper-people-data-media {
  position: relative;
  overflow: hidden;

  width: 100%;

  padding: 0 0 24px;
  margin-bottom: -24px;
  img {
    max-width: 100%;
  }
}

.swiper-btn-prev {
  left: 0;
}

.swiper-btn-next {
  right: 0;
}

.swiper-btn.swiper-button-disabled {
  opacity: 0.4;
  cursor: default;
}

.swiper-btn {
  position: absolute;

  top: 50%;

  transform: translateY(-50%);

  margin-top: -40px;

  cursor: pointer;

  width: 3.25rem;
  height: 3.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: $color-dark;

  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.05);
  border: 1px solid #E9EBEF;
}

#section-cta {
  position: relative;
  &:before {
    content: "";

    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: linear-gradient(241.25deg, #FF5B24 0%, #FF6733 26.14%, #FF9433 55.1%, #FFAF63 64.02%, #FFBA33 100%);

    mix-blend-mode: multiply;
  }
}

.cta-content {
  max-width: 28.75rem;

  @include centered;
}

.cta-content-text {
  h3 {
    font-size: 2rem;
    font-weight: 600;

    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 0;
    strong {
      font-weight: 700;
      text-transform: uppercase;
    }
    span {
      font-size: 0.75rem;
    }
  }
  p + p {
    margin-top: 1.5rem;
  }
  a {
    color: $color-body;
  }
  a:hover {
    color: $color-body;

    text-decoration: underline;
  }
}

.cta-form {
  @include centered;

  background-color: white;
  border-radius: 6px;

  padding: 1.5rem;
  h6 {
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
  }
  h6 + p {
    margin-top: 0;
  }
  p {
    text-align: center;
    margin-bottom: 0;

    font-size: 1rem;
    font-weight: 300;
  }
  p + * {
    margin-top: 1.25rem;
  }
}

.cta-form {
  max-width: 28.75rem;
  label {
    position: absolute;

    top: 1.075rem;
    left: 1.25rem;

    font-size: 1.125rem;

    pointer-events: none;
  }
  .form-control {
    border-radius: 6px;
    border-color: #a2a2a2;

    height: 60px;

    font-size: 1.125rem;

    color: $color-body;

    padding: 1.65rem 1.25rem 0.35rem;

    box-shadow: none;
  }
  .form-control:focus {
    box-shadow: none;
    color: $color-body;
  }
  .form-input-field.is-focus {
    label {
      top: 0.55rem;

      font-size: 0.75rem;
      font-weight: 300;
    }
  }
  .form-input-field.is-filled {
    label {
      top: 0.55rem;

      font-size: 0.75rem;
      font-weight: 300;
    }
  }
  .btn {
    display: flex;

    width: 100%;

    border-radius: 6px;

    font-weight: 700;
    text-transform: uppercase;
    line-height: calc(60px - 1rem - 3px);
    height: 60px;
  }
}

.form-input-field {
  position: relative;
}

select {
  position: absolute;
  left: -9999px;
  top: -9999px;

  visibility: hidden;

  height: 2.75rem;

  pointer-events: none;
  user-select: none;
}

.select-box-custom {
  position: relative;
  z-index: 2;

  display: inline-flex;
  &-selected {
    position: relative;
    z-index: 11;

    border-radius: 3px;

    color: $color-dark;

    padding: 0 1rem;
    height: 2.75rem;
    line-height: 2.75rem;

    transition: border-radius .3s ease, border-color .3s ease, color .3s ease, box-shadow .3s ease;

    cursor: pointer;
  }
  &-selected:after {
    content: "\f0d7";

    position: absolute;

    top: 50%;
    right: 0;

    transform: translateY(-50%);

    font-family: "Font Awesome 5 Pro";
    font-weight: 700;

    margin-top: -1px;

    pointer-events: none;
  }
  &-dropdown {
    position: absolute;
    top: 100%;
    left: 50%;

    list-style: none;
    padding: 0.5rem 0;

    transform: translateX(-50%);

    min-width: 100%;
    max-width: 180px;

    margin-top: 0.5rem;

    background-color: white;
    box-shadow: 0 10px 45px rgba(0, 0, 0, 0.1);

    visibility: hidden;

    opacity: 0;
    transition: all .3s ease;

    z-index: 13;
    &:before {
      content: "";

      background-color: white;
      box-shadow: -2px -2px 8px rgba(black, 0.05);

      position: absolute;
      top: 0;
      left: 50%;

      transform: rotate(45deg);

      width: 1rem;
      height: 1rem;

      margin-top: -0.5rem;
      margin-left: -0.5rem;
    }
  }
  &-dropdown &-option {
    display: block;

    font-size: 15px;
    font-weight: 600;

    position: relative;
    z-index: 2;

    padding: 0.6rem 1rem;
    cursor: pointer;

    background-color: white;
    color: $color-dark;
  }
  &-dropdown &-option:hover {
    background-color: $color-primary;
    color: white;
  }
  &.active &-dropdown {
    opacity: 1;
    transform: translateX(-50%);
    visibility: visible;
  }
  &.active &-selected {

  }
  &.active &-selected:after {
    transform: translateY(-50%) rotate(180deg);

    margin-top: 0;
  }
}

.language-selector {
  .select-box-custom-selected {
    padding-left: 0;
  }
}

.diagram {
  img {
    max-width: 60rem;
    width: 100%;
    display: block;
    @include centered;
  }
}

.ul-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    position: relative;
    padding-left: 3rem;

    font-weight: 300;
    line-height: $p-line-height;
  }
  li + li {
    margin-top: 1rem;
  }
  li:before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    margin-top: 6px;
    margin-left: 6px;

    width: 12px;
    height: 12px;

    background-color: $color-primary;
    border-radius: 50%;

    box-shadow: 0 0 0 6px rgba($color-primary, 0.15);
  }
}

.ul-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    position: relative;

    font-weight: 300;
    line-height: $p-line-height;

    display: flex;
  }
  li + li {
    margin-top: 2rem;
  }
  .icon {
    margin-top: -0.85em;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    border: 1px solid $color-primary;
    border-radius: 50%;

    width: 55px;
    height: 55px;

    margin-right: 1rem;

    flex: 0 0 55px;
    img {
      max-width: 80%;
    }
  }
}

.slide-grid-stepped {
  .slide-grid-content-text {
    h3 {
      font-size: 2rem;
      font-weight: 600;
    }
    p {
      font-size: 1rem;
      line-height: $p-line-height;
    }
    .ul-bullets {
      font-size: 1rem;
    }
    * + .ul-bullets {
      margin-top: 1.5rem;
    }
    .ul-bullets + * {
      margin-top: 1.5rem;
    }
  }
}

[data-trigger="enlarge"] {
  position: relative;

  display: inline-flex;
  align-items: center;

  color: $color-primary;

  font-weight: 600;
  &:before {
    content: "+";

    width: 2rem;
    height: 2rem;

    margin-top: -1px;
    margin-right: 0.75rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background-color: $color-primary;
    color: white;
  }
  &:hover {
    color: $color-primary;
  }
}

.f-modal-is-open {
  overflow: hidden;
}

.f-modal {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  -webkit-overflow-scrolling: touch;

  background-color: rgba(black, 0.75);

  opacity: 0;
  visibility: hidden;

  transition: all .4s ease;

  display: none;

  z-index: 2019;
  &.f-modal-open {
    opacity: 1;
    visibility: visible;
  }
  &-table {
    display: table;
    table-layout: fixed;

    width: 100%;
    height: 100%;
  }
  &-cell {
    display: table-cell;
    vertical-align: middle;

    padding: 1rem;
  }
  &-content {
    background-color: white;

    padding: 1rem;

    max-width: 60rem;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
  }
  .f-modal-close {
    position: absolute;

    top: 3rem;
    right: 3rem;

    width: 3rem;
    height: 3rem;

    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
    &:before,
    &:after {
      content: "";

      position: absolute;

      top: 0;
      left: 1.5rem;

      width: 2px;
      height: 100%;

      background-color: white;
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
}

.f-modal-is-open section,
.f-modal-is-open header,
.f-modal-is-open footer {
  filter: blur(2px);
}

.f-modal-enlarge {
  background-color: rgba(white, 0.6);
  .f-modal-close {
    background-color: $color-primary;
    border-radius: 50%;

    top: -1.5rem;
    right: -1.5rem;
  }
  .f-modal-close:hover {
    opacity: 1;
  }
  .f-modal-close:before,
  .f-modal-close:after {
    height: 1.5rem;

    top: 0.75rem;
    left: 0.75rem;

    margin-left: 0.7rem;
  }
  .f-modal-content {
    position: relative;

    background-color: #F8F9FD;
    box-shadow: 0 60px 60px rgba(black, 0.2);

    border-radius: 8px;

    padding: 3rem;
    img {
      margin-bottom: -30px;
      max-width: 100%;
      display: block;
      @include centered;
    }
  }
}

body {
  counter-reset: slide;
}

.slide-grid {
  & + & {
    margin-top: 6rem;
  }
}

.section-slide-grid-stepped {
  counter-increment: slide;
}

.slide-grid-stepped {
  counter-increment: slide;
}

.slide-grid-stepped {
  & + & {
    margin-top: 8rem;
  }
  .slide-grid-content {
    position: relative;
  }
  .slide-grid-content:before {
    content: '0' counter(slide);
    pointer-events: none;

    position: absolute;

    right: 0;
    top: 0;

    display: inline-block;

    transform: translateY(-35%);

    line-height: 130px;

    font-size: 130px;
    font-weight: 500;

    opacity: 0.07;
  }
  .order-lg-last + .slide-grid-item .slide-grid-content:before {
    left: -15px;
  }
  .slide-grid-content-text {
    text-align: left;
  }
}

.insights-grid {
  display: flex;
  flex-flow: row wrap;
  &-item:nth-child(1) {
    flex: 0 0 100%;
    max-width: 100%;
  }
  &-item:nth-child(2) {
    flex: 0 0 100%;
  }
}

.insights-media-grid {
  display: flex;
  align-items: center;
}

.insights-media-grid-caption {
  width: 100%;

  background-color: white;
  border-radius: 3px;

  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.1);;

  padding: 0 1.25rem 1.25rem 1.25rem;

  position: relative;
  z-index: 100;
  h6 {
    font-size: 1.375rem;
    font-weight: 600;
  }
  h6 + p {
    margin-top: 1rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.625;

    margin-bottom: 0;
  }
}

.insights-media-grid-image-frame {
  width: 100%;

  padding: 1.25rem;

  background-color: white;

  position: relative;
  overflow: hidden;
}

.insights-media-grid-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  transform: scale(1.05);

  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  &:before {
    content: "";
    padding-bottom: 100%;
    display: block;
  }
}

.insights-grid-content {
  h3 {
    font-size: 2rem;
    font-weight: 600;
  }
  h3 + * {
    margin-top: 2rem;
  }
}

.insights-hidden-content-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ul-insights {
  list-style: none;
  padding: 0;
  margin: 0 0 1.25rem 0;

  display: flex;
  flex-direction: row;
  li + li {
    margin-left: 0.75rem;
  }
  li a {
    position: relative;

    display: inline-block;

    font-size: 0.875rem;
    font-weight: 600;

    color: $color-body;

    opacity: 0.4;
  }
  li a:before {
    content: "";

    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: linear-gradient(to right, rgba($color-primary, 1) 0%, rgba($color-primary, 1) 100%);
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-size: 100% 0.15em;

    display: block;

    transform: scaleX(0);
    transform-origin: left center;

    transition: transform 600ms cubic-bezier(0.77, 0, 0.175, 1);
  }
  li a:hover {
    color: $color-body;
  }
  li.is-active a,
  li.active a {
    opacity: 1;

    //background: linear-gradient(to right, rgba($color-primary, 1) 0%, rgba($color-primary, 1) 100%);
    //background-repeat: repeat-x;
    //background-position: 0 100%;
    //background-size: 100% 0.15em;
  }
  li.is-active a:before {
    transform: scaleX(1);
  }
}

.deliver-prescriptive-action-grid {
  display: flex;
  flex-direction: column;
}

.deliver-prescriptive-action-grid.media-grid {
  align-items: center;
  .deliver-prescriptive-action-grid-content {
    position: relative;
    z-index: 100;
  }
  .deliver-prescriptive-action-grid-media {
    margin-bottom: unset;
    margin-left: -15px;
    margin-right: -15px;
  }
  .deliver-prescriptive-action-grid-media-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .deliver-prescriptive-action-grid-media-image:before {
    content: "";
    padding-bottom: 100%;
    display: block;
  }
}

.deliver-prescriptive-action-grid-content {
  width: 100%;

  display: flex;
  align-items: center;

  background-color: white;
  border-radius: 3px;

  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.1);;

  padding: 2rem 1.25rem;
  .tag {
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;

    display: inline-block;
    i {
      color: $color-primary;
      margin-right: 0.5rem;
    }
  }
  * + h3 {
    margin-top: 1.5rem;
  }
  h3 {
    font-size: 2rem;
    font-weight: 600;
  }
  h3 + p {
    margin-top: 1rem;
  }
  p {
    color: rgba($color-body, 0.6);

    font-size: 1rem;
    font-weight: 300;

    margin-bottom: 0;
  }
  p + .btn {
    margin-top: 1.5rem;
  }
}

.deliver-prescriptive-action-grid-media {
  width: 100%;
  margin-bottom: -2rem;

  position: relative;
  z-index: 99;

  align-self: center;

  background-color: white;

  order: -1;
  img {
    display: block;

    min-width: 100%;
    max-width: 100%;
  }
}

#image-team-elevation {
  display: block;

  max-width: calc(100% + 8rem);

  margin-left: -6rem;
  margin-right: -2rem;
}

.solutions {
  max-width: 62.5rem;
  @include centered;
}

.solutions-card {
  border: 1px solid #E9EBEF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);

  display: block;

  color: $color-body !important;

  transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
  &-thumb {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding-bottom: 65%;
  }
}

.solutions-card-content {
  text-align: center;
  padding: 2.25rem;

  background-color: white;
  h4 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  h4 + p {
    margin-top: 1rem;
  }
  p {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.625;
    margin-bottom: 0;
  }
  p + .btn {
    margin-top: 2rem;
  }
}

.section-content {
  max-width: 42rem;
  h3 {
    font-size: 2rem;
    font-weight: 600;
  }
  h3 + p {
    margin-top: 1.5rem;
  }
  p {
    margin-bottom: 0;

    font-weight: 300;
    line-height: 1.625;
  }
  p + p {
    margin-top: 1rem;
  }
  ul {
    margin: 1.5rem 0;
    li {
      font-weight: 300;
    }
    li + li {
      margin-top: 1rem;
    }
  }
  * + h3 {
    margin-top: 3rem;
  }
  a {
    font-weight: 600;
    color: $color-primary;
  }
  a:hover {
    text-decoration: underline;
  }
}

.contact {
  h1 {
    font-size: 2rem;
    font-weight: 600;
  }
  > p {
    margin-bottom: 0;

    font-size: 1.125rem;
    font-weight: 300;
  }
  h1 + p {
    margin-top: 0.25rem;
  }
  * + .form-contact {
    margin-top: 2rem;
  }
}

.form-contact {
  label {
    position: absolute;

    top: 1.075rem;
    left: 1.25rem;

    font-size: 1.125rem;

    pointer-events: none;
  }
  .form-control {
    border-radius: 6px;
    border-color: #dcdcdc;

    height: 60px;

    font-size: 1.125rem;

    color: $color-body;

    padding: 1.65rem 1.25rem 0.35rem;

    box-shadow: none;
  }
  .form-control:focus {
    box-shadow: none;
    color: $color-body;
  }
  .form-input-field.is-focus {
    label {
      top: 0.55rem;

      font-size: 0.75rem;
      font-weight: 300;
    }
  }
  .form-input-field.is-filled {
    label {
      top: 0.55rem;

      font-size: 0.75rem;
      font-weight: 300;
    }
  }
  textarea.form-control {
    height: auto;
  }
  .btn {
    display: flex;

    width: 100%;

    //border-radius: 6px;

    font-weight: 700;
    text-transform: uppercase;
    line-height: calc(60px - 1rem - 3px);
    height: 60px;
  }
}

.contact-information {
  padding: 3rem 15px;

  background-color: #F7F8FC;

  margin-right: -15px;
  margin-left: -15px;
  p {
    margin-bottom: 0;

    font-size: 1.125rem;
    font-weight: 300;

    line-height: 1.625;
  }
  p + p {
    margin-top: 3rem;
  }
  p strong {
    font-weight: 600;
  }
  p a {
    font-weight: 600;
    display: inline-block;
  }
}

.video {
  position: relative;
  overflow: hidden;
  &:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    width: 100px;
    height: 100px;

    background: url('../img/icons/icon-play.svg') no-repeat 50%;
    background-size: contain;

    transform: translate(-50%, -50%);
    transform-origin: 0 0;

    transition: transform 200ms ease;

    z-index: 3;
  }
  &:hover {
    cursor: pointer;
  }
  &:hover:before {
    transform: scale(1.125) translate(-50%, -50%);
  }
}

.video-player {
  &:before {
    content: "";
    padding-bottom: 30%;
    display: block;
  }
  &:after {
    content: "";

    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.3);
  }
  video {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    min-width: 100%;

    width: auto;
    height: auto;
  }
}

.video-image {
  background-size: cover;
  background-position: center;
}

.video-image:before {
  content: "";
  padding-bottom: 30%;
  display: block;
}

.f-modal-video {
  .f-modal-content {
    padding: 0;

    background-color: transparent;
  }
  video {
    max-width: 100%;
    display: block;
  }
}

.values-card {
  border-radius: 4px;

  padding: 1.75rem;

  height: 100%;

  background-color: white;
  box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
}

.values-card-content {
  p {
    margin-bottom: 0;

    font-weight: 300;
    line-height: 1.625;
    letter-spacing: 0.3px;

    color: #757679;
  }
}


.values-card-title {
  display: flex;
  align-items: center;

  margin-bottom: 1.5rem;
  h6 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.values-card-icon {
  width: 48px;
  height: 48px;

  flex: 0 0 48px;

  margin-right: 1.25rem;
  img {
    max-width: 100%;

    display: block;
  }
}

.team-card-thumb {
  max-width: 236px;

  display: block;

  @include centered;
  img {
    max-width: 100%;
  }
}

.team-card-content {
  text-align: center;

  margin-top: 1rem;
  h6 {
    font-size: 1.125rem;
    font-weight: 600;
  }
  h6 + p {
    margin-top: 0.5rem;
  }
  p {
    margin-bottom: 0;

    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.425;
    letter-spacing: 1px;
  }
}

.our-people-grid {
  display: flex;
}

.our-people-grid-media {
  width: 55%;

  margin-bottom: unset;
  margin-left: -5%;

  margin-right: -15px;

  align-self: center;
}

.our-people-grid-media-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.our-people-grid-media-image:before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.our-people-grid-content {
  width: 65%;

  display: flex;
  align-items: center;

  background-color: white;
  border-radius: 3px;

  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.1);;

  padding: 5rem 3rem;

  padding-right: calc(15% + 1rem);
  .tag {
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;

    display: inline-block;
    i {
      color: $color-primary;
      margin-right: 0.5rem;
    }
  }
  * + h3 {
    margin-top: 1.5rem;
  }
  h3 {
    font-size: 3.5rem;
    font-weight: 600;
  }
  h3 + p {
    margin-top: 1rem;
  }
  p {
    color: rgba($color-body, 0.6);

    font-size: 1.125rem;
    font-weight: 300;

    margin-bottom: 0;
  }
  p + .btn {
    margin-top: 1.5rem;
  }
}

.team-member-content {
  h4 {
    font-size: 2rem;
    font-weight: 600;
  }
  h4 + h5 {
    margin-top: 0.5rem;
  }
  h5 {
    font-size: 1.125rem;
    font-weight: 400;
  }
  h5 + p {
    margin-top: 1.5rem;
  }
  p {
    margin-bottom: 0;

    font-size: 1rem;
    font-weight: 300;
    line-height: 1.725;
  }
  p + p {
    margin-top: 1rem;
  }
  .btn {
    margin-top: 2rem;
  }
}

.our-people-section {
  background: #F5F6FA;

  padding: 4rem 0;
  .slide-grid-media-image {
    padding-bottom: 100%;
  }
}

.our-people-section + .our-people-section {
  padding-top: 0;
}

.ul-prism {
  list-style: none;
  padding: 0;
  margin: 0;

  counter-reset: prism;
  li {
    counter-increment: prism;

    padding: 1.5rem 0;

    font-size: 1.125rem;
    font-weight: 300;

    position: relative;
  }
  li + li {
    border-top: 1px solid #E8E9EF;
  }
}

.prism {
  max-width: 100%;

  margin: -2rem 0;
}

#our-difference {
  position: relative;
  a.scroll-down {
    bottom: unset;
    top: 100%;

    margin-top: -4rem;
  }
}

.people-data-grid {
  padding: 0 15px;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.people-data-menu {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;

  background-color: white;

  display: none;
}

.people-data-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;

  border: 0;

  display: block;
  li + li {
    margin-top: 2rem;
  }
}

.people-data-title,
a.people-data-title {
  position: relative;
  color: $color-body;

  pointer-events: none;

  display: block;

  margin-left: -2rem;
  padding-left: 2rem;
  &:before {
    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 5px;
    height: 100%;

    display: block;

    background-color: transparent;
  }
  &.active:before {
    background-color: $color-primary;
  }
  span {
    font-size: 1.25rem;
    font-weight: 600;

    display: block;
  }
  span + p {
    margin-top: 0.25rem;
  }
  p {
    font-weight: 300;
    letter-spacing: 0.3px;

    color: #757679;

    margin-bottom: 0;
  }
}

.people-data-content {
  position: relative;
}

.tab-pane-grid {
  display: flex;
  flex-flow: row wrap;

  margin: -15px;
  &-item {
    padding: 15px;

    display: flex;
  }
  &-item:nth-child(1) {
    //order: 99;
  }
}

.tab-pane-media {
  position: relative;

  align-self: center;
}

.tab-pane-media-image {
  img {
    max-width: 100%;

    display: block;

    @include centered;
  }
}

.tab-pane-content {
  align-self: center;
}

.tab-pane-content-text {
  h4 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.475;
  }
  h4 + * {
    margin-top: 1.5rem;
  }
  .ul-list {
    list-style: none;
    padding: 0;
    margin: 1.5rem 0;
  }
  .ul-list li {
    padding-left: 1.25rem;

    position: relative;
  }
  .ul-list li + li {
    margin-top: 0.5rem;
  }
  .ul-list li:before {
    content: "";

    position: absolute;

    top: 1em;
    left: 0;

    margin-top: -8px;

    width: 7px;
    height: 7px;

    background-color: $color-primary;

    border-radius: 50%;
  }
  p {
    font-weight: 300;

    margin-bottom: 0;
  }
  p + p {
    margin-top: 1.5rem;
  }
  p strong {
    font-weight: 500;
  }
}

.swiper-insights-wrapper {
  position: relative;

  width: 100%;
  .swiper-pagination {
    position: relative;

    margin-top: 1rem;
  }
  .swiper-pagination-bullet {
    opacity: 0.1;

    width: 10px;
    height: 10px;

    margin: 0 5px;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;

    background-color: $color-primary;
  }
}

.swiper-insights {
  position: relative;
  overflow: hidden;
}

#our-difference .our-people-section {
  padding-top: 0;
}

.tab-pane-media-image img.summary-arrow {
  display: none;
}

/*** Main End ***/

/*** Animations ***/

[data-animate="true"] {
  transform: translate3d(0, 2rem, 0);
  opacity: 0;

  transition-property: transform, opacity;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

[data-animate="true"].animate {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

/*** Animations End ***/

/*** Footer Start ***/

footer {
  background-color: white;

  padding: 4rem 0;
}

.footer-title {
  font-size: 1.25rem;
  font-weight: 600;

  margin-bottom: 1.5rem;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  li + li {
    margin-top: 0.75rem;
  }
  li a {
    display: inline-block;

    color: $color-body;

    font-weight: 300;
  }
  li a:hover {
    color: $color-body;

    text-decoration: underline;
  }
}

.footer-links-inline {
  list-style: none;
  padding: 0;
  margin: -0.5rem;

  display: inline-flex;
  li {
    padding: 0.5rem;
  }
  li a {
    color: $color-body;

    font-weight: 300;
  }
  li a:hover {
    color: $color-body;

    text-decoration: underline;
  }
}

.footer-links-inline + .footer-social {
  margin-left: 1rem;
}

.footer-social {
  list-style: none;
  padding: 0;
  margin: -0.25rem;

  display: inline-flex;
  li {
    padding: 0.25rem;
  }
  li a {
    color: $color-body;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #F5F6F9;

    border-radius: 50%;

    width: 2rem;
    height: 2rem;

    font-weight: 400;
  }
  li a:hover {
    background-color: $color-dark;
    color: white;
  }
  li a i {
    font-size: 0.875rem;
  }
  li a:hover {
    color: white;

    text-decoration: none;
  }
}

.footer-contact {
  font-weight: 300;
  line-height: 2;
  a {
    font-weight: 300;

    color: $color-body;
  }
  a:hover {
    color: $color-body;

    text-decoration: underline;
  }
}

.copyright {
  font-weight: 300;
  margin-bottom: 0;
}

/*** Footer End ***/
