@import 'custom';

@media all and (min-width: 480px) {

}

@media all and (min-width: 576px) {
  .tab-pane-grid {
    &-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .ul-insights {
    li + li {
      margin-left: 1.25rem;
    }
    li a {
      font-size: 1.25rem;
    }
  }
}

@media all and (min-width: 768px) {
  $header-padding: 90px;
  $section-gutter: 4rem;

  .navbar-expand-md {
    //padding: 22.5px 0;
    padding: 0 10px;
    min-height: 90px;
  }

  .navbar-brand {
    img {
      height: 30px;
    }
  }

  .navbar-nav {
    align-items: center;
    .nav-item {
      margin: 0 0 0 1.5rem;
    }
    .nav-item:last-child {
      margin-right: 0;
    }
    .nav-item > .nav-link {
      position: relative;

      padding: 0;

      height: 90px;

      display: flex;
      align-items: center;
    }
    .nav-item > .nav-link:hover {
      color: $color-primary;
    }
    .nav-item > .nav-link:before {
      content: "";
      position: absolute;
      bottom: 0;

      height: 3px;
      width: 100%;

      background-color: transparent;
    }
    .nav-item.active > .nav-link:before {
      background-color: $color-primary;
    }
  }

  .navbar-column:nth-child(3) .navbar-nav {
    .nav-item {
      margin: 0 0 0 1rem;
    }
  }

  .navbar-column:nth-child(2) {
    margin-right: 0.5rem;
  }

  body {
    //padding-top: $header-padding;
  }

  #hero-home {
    > .d-flex {
      //padding-top: calc(#{$header-padding} + 8rem);
      padding-top: 0;
      padding-bottom: 0;
      min-height: 620px;
    }
  }

  .section.section-first {
    padding-top: calc(#{$header-padding} + 4rem);
    padding-bottom: 4rem;
  }

  .hero-alt {
    > .d-flex {
      padding-top: calc(#{$header-padding} + 4rem);
      padding-bottom: 4rem;
    }
  }

  .hero-alt-p {
    > .d-flex {
      padding-top: calc(#{$header-padding} + 4rem);
      padding-bottom: 4rem;
    }
    .hero-media-image {
      img {
        max-height: 70vh;

        margin-left: auto;

        display: block;
      }
    }
  }

  .hero-content-text {
    p {
      font-size: 1rem;
      line-height: 1.525;
    }
  }

  .hero-alt {
    .hero-content-text {
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
        line-height: 1.525;
      }
      .tag {
        font-size: 1rem;
      }
    }
  }

  .hero-alt-auto {
    .hero-content-text h1 {
      max-width: none;

      font-size: 2.25rem;
    }
  }

  .deliver-prescriptive-action-grid-content {
    .tag {
      font-size: 1rem;
    }
  }

  .hero-alt-p {
    .hero-content-text {
      h1 {
        font-size: 2.5rem;
        font-weight: 600;
      }
      p {
        font-size: 1rem;
        line-height: 1.525;
      }
      .tag {
        font-size: 1rem;
      }
    }
  }

  .section {
    padding: $section-gutter 0;
    > .d-flex {
      margin: -$section-gutter 0;
      padding: $section-gutter 0;
    }
  }

  .hero-grid {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    padding: 0 0 0 15px;
  }

  .hero-media {
    width: 50%;
  }

  .hero-alt {
    .hero-media {
      margin-bottom: 0;
    }
  }

  .hero-content {
    width: 50%;
    padding-left: calc((100vw - 1280px) / 2);
  }

  .section-heading {
    h3 {
      font-size: 2.25rem;
    }
    p {
      font-size: 1.125rem;
    }
  }

  .section-heading-alt {
    h3 {
      font-size: 3rem;
    }
    p {
      font-size: 1.125rem;
    }
  }

  .section-heading-xl {
    h3 {
      font-size: 3.5rem;
    }
    p {
      font-size: 1.25rem;
    }
  }

  .cta-form {
    padding: 2.5rem;
    h6 {
      font-size: 2.25rem;
    }
    h6 + p {
      margin-top: 0.5rem;
    }
    p {
      font-size: 1.125rem;
    }
  }

  .contact {
    h1 {
      font-size: 3.5rem;
    }
    > p {
      font-size: 1.25rem;
    }
  }

  .contact-information {
    padding: 3rem;

    border-radius: 50px 0 0 50px;

    margin-right: -15px;
    margin-left: 15px;
  }

  .team-card-content {
    margin-top: 1.5rem;
    h6 + p {
      margin-top: 0.25rem;
    }
    h6 {
      font-size: 1.75rem;
    }
    p {
      font-size: 1.25rem;
    }
  }

  #hero-home {
    .hero-grid {
      height: calc(61.25vw * 1176 / 1080);
    }
    .hero-content {
      position: relative;
      z-index: 4;

      width: 60%;
    }
    .hero-media {
      position: absolute;

      right: 0;
      top: 0;

      width: 61.25vw;
      height: calc(61.25vw * 1176 / 1080);
    }
  }

  .navbar-column:nth-child(3) .nav-item:nth-child(2) {
    display: none;
  }

  .cta-content {
    padding-top: 4rem;

    text-align: left;
  }

  .cta-content-text {
    p {
      max-width: 24rem;
    }
  }

  .cta-form,
  .cta-content {
    margin-left: unset;
    margin-right: unset;
  }

  .ul-prism {
    li {
      font-size: 1.5rem;

      padding: 2rem 0 2rem 9.5rem;
    }
    li:before {
      content: '0' counter(prism);

      font-weight: 500;
      font-size: 100px;
      line-height: 110px;

      opacity: 0.07;

      position: absolute;

      left: 0;
      top: 50%;

      transform: translate(0, -50%);
    }
  }

  .prism-action {
    padding-left: 9.5rem;

    margin-top: 2rem;
  }

  .slide-grid-content .text-xl,
  .text-xl {
    font-size: 2rem;
    line-height: 1.425;
  }

  .slide-grid-testimonial-content {
    p {
      font-size: 1.35rem;
    }
  }

  .slide-grid-testimonial {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .tab-pane-grid {
    &-item {
      //flex: 0 0 50%;
      //max-width: 50%;
    }
    &-item:nth-child(1) {
      //order: -1;
    }
  }

  .solutions-card {
    &:hover {
      transform: translate3d(0, -0.75rem, 0);
      box-shadow: 0 12px 24px rgba(black, 0.1);
    }
    &:hover .btn {
      background-color: $color-primary;
      border-color: $color-primary;
      color: white;
    }
  }

  .ul-insights {
    li + li {
      margin-left: 1.5rem;
    }
    li a {
      font-size: 1.5rem;
    }
  }

  .insights-grid-content {
    h3 {
      font-size: 3rem;
    }
  }

  .insights-hidden-content-slide {
    flex-direction: row;
  }

  .insights-media-grid-image-frame {
    width: 60%;

    padding: 0;
  }

  .insights-media-grid-caption {
    width: 55%;
    margin-left: -15%;

    padding: 1.75rem;
    p {
      font-size: 1.125rem;
      line-height: 1.525;
    }
  }

  .insights-hidden-content {
    position: relative;
  }

  .insights-hidden-content-slide {
    position: absolute;

    top: 0;
    left: 0;

    opacity: 0;

    transition: opacity 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .insights-hidden-content-slide:nth-child(1) {
    position: relative;
  }

  .insights-hidden-content-slide.is-visible {
    opacity: 1;

    z-index: 99;
    .insights-media-grid-image {
      transform: scale(1);
    }
  }

  #section-cta {
    background: url('../img/cta-contact.jpg') no-repeat 50%/cover;
  }

  .swiper-testimonials-wrapper {
    .swiper-pagination {
      display: none;
    }
  }

  .slide-grid-media-diagram {
    a[data-trigger="enlarge"] {
      display: block;
    }
  }
}

@media all and (min-width: 1024px) {
  .slide-grid {
    &-item {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  .slide-grid-media-image,
  .slide-grid-media-diagram {
    border-radius: 0 32px 32px 0;
  }

  .slide-grid-content {
    padding-left: 5rem;
  }

  .slide-grid-item.order-lg-last + .slide-grid-item .slide-grid-content {
    padding-left: unset;
    padding-right: 5rem;
  }

  .slide-grid-content-text {
    text-align: left;

    margin-left: 0;
    margin-right: 0;
    h2 {
      font-size: 3.25rem;
    }
    h3 {
      font-size: 2.25rem;
    }
    p {
      font-size: 1.25rem;
    }
  }

  .cta-content-text {
    h3 {
      font-size: 2.875rem;
    }
  }

  .ul-trusted {
    li {
      padding: 15px 30px;
    }
    li a img {
      height: 55px;
    }
    li:nth-child(4) a img {
      height: 35px;
    }
  }

  .trusted {
    h3 {
      font-size: 1.9375rem;
    }
    p {
      font-size: 1.5rem;
      line-height: $p-line-height;
    }
    h3 + p {
      margin-top: 0;
    }
  }

  .our-people-section {
    background: linear-gradient(to left, #F5F6FA 0%, #F5F6FA 75%, transparent 75%, transparent 100%);
    margin-bottom: 4rem;
    .slide-grid-media {
      margin-bottom: -4rem;
    }
    .slide-grid-media-image {
      padding-bottom: calc(100% + 4rem);
    }
  }

  #our-difference {
    .slide-grid-media {
      margin-bottom: -4rem;
    }
    .slide-grid-media-image {
      border-bottom-right-radius: 0;
    }
  }

  .our-people-section:nth-child(even) {
    background: linear-gradient(to right, #F5F6FA 0%, #F5F6FA 75%, transparent 75%, transparent 100%);
  }

  .our-people-section + .our-people-section {
    padding-top: 4rem;
  }

  .team-member-content {
    h4 {
      font-size: 3rem;
    }
    h5 {
      font-size: 1.25rem;
    }
    p {
      font-size: 1.125rem;
    }
  }

  .navbar-column:nth-child(2),
  .navbar-column:nth-child(3) {
    display: block;
  }

  .navbar-brand {
    img {
      height: 24px;
    }
  }

  .people-data-grid {
    padding: 0;
    margin: 0 -30px;
    > div {
      padding: 0 30px;
    }
  }

  .section-people-data-grid {
    .container {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .people-data-menu {
    width: 310px;

    display: block;
  }

  .people-data-content {
    flex: 1;
  }

  .ul-insights {
    flex-direction: column;

    margin: 0;
    li + li {
      margin-top: 1.25rem;
      margin-left: 0;
    }
    li a {
      font-size: 2rem;
    }
    li a:hover {
      color: $color-body;

      opacity: 1;
    }
  }

  .insights-grid-content {
    h3 {
      font-size: 3rem;
    }
  }

  .insights-grid {
    &-item:nth-child(1) {
      flex: 0 0 25rem;
      max-width: 25rem;
    }
    &-item:nth-child(2) {
      flex: 1;
    }
  }

  .deliver-prescriptive-action-grid {
    flex-direction: row;
  }

  .deliver-prescriptive-action-grid-content {
    width: 65%;

    padding: 5rem 3rem;

    padding-right: calc(15% + 1rem);
    h3 {
      font-size: 3.5rem;
    }
    p {
      font-size: 1.125rem;
    }
  }

  .deliver-prescriptive-action-grid-media {
    width: 55%;

    margin-left: -10%;
    margin-bottom: -5%;

    background-color: transparent;

    order: 99;
  }

  .slide-grid-content-text {
    .ul-bullets {
      font-size: 1.125rem;
    }
    .ul-bullets li:before {
      top: 0.125em;
    }
    p {
      font-size: 1.125rem;
    }
  }

  .tab-pane-content-text {
    h4 {
      font-size: 2rem;
      line-height: 1.225;
    }
  }

  .slide-grid-media-diagram {
    padding: 4rem 2rem;
    img {
      margin-bottom: -30px;
    }
  }

  .deliver-prescriptive-action-grid.media-grid .deliver-prescriptive-action-grid-media {
    margin-left: -5%;
  }

  #our-difference .our-people-section {
    padding-top: 4rem;
  }

  .section-people-data-grid {
    display: flex;

    min-height: 100vh;
    .container {
      align-self: center;
    }
  }

  .people-data-content-holder {
    position: relative;

    transition: height 300ms ease;
  }

  .people-data-content-slide {
    position: absolute;

    top: 0;
    left: 0;

    opacity: 0;

    transition: opacity 300ms ease;
  }

  .people-data-content-slide.is-active {
    opacity: 1;
  }

  .people-data-content-slide.is-hidden {
    opacity: 0;
  }

  .swiper-people-data-media-wrapper {
    display: none;
  }

  .tab-pane-grid {
    &-item:nth-child(1) {
      flex: 0 0 40%;
      max-width: 40%;

      min-width: 360px;
    }
    &-item:nth-child(2) {
      flex: 1;
    }
  }

  .tab-pane-media-image img.summary-arrow {
    display: block;

    position: absolute;

    top: 68%;
    left: 0;

    transform: translateX(-70%);
  }
}

@media all and (min-width: 1280px) {
  .contact-information {
    padding: 5rem;

    border-radius: 50px;
  }

  .deliver-prescriptive-action-grid-media {
    margin-right: unset;
  }

  #hero-home {
    .hero-content {
      padding-bottom: 10vw;
    }
  }

  .slide-grid-stepped {
    .order-lg-last + .slide-grid-item .slide-grid-content:before {
      left: -1em;
    }
  }

  .navbar-column:nth-child(3) .nav-item:nth-child(2) {
    display: block;
  }

  .people-data-menu {
    display: block;
  }

  .people-data-grid {
    align-items: center;
  }

  .section-people-data-grid {
    .container {
      padding-left: 45px;
      padding-right: 45px;
    }
  }

  .hero-content-text {
    p {
      font-size: 1.25rem;
    }
  }

  .hero-alt {
    .hero-content-text {
      h1 {
        font-size: 2.625rem;
      }
      p {
        font-size: 1.125rem;
      }
    }
  }

  .hero-alt-auto {
    .hero-content-text h1 {
      font-size: 3.25rem;
    }
  }

  .hero-alt-p {
    .hero-content-text {
      h1 {
        font-size: 3.5rem;
      }
      p {
        font-size: 1.25rem;
      }
    }
  }

  .tab-pane-grid {
    &-item:nth-child(1) {
      min-width: 430px;
    }
  }
}

@media all and (min-width: 1310px) {
  .navbar-column {
    min-width: 320px;
  }

  .navbar-column:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-nav {
    .nav-item {
      margin: 0 0 0 2rem;
    }
  }

  .navbar-brand {
    img {
      height: 30px;
    }
  }
}

@media all and (min-width: 1440px) {
  .slide-grid-media-image {
    border-radius: 32px;

    margin-left: -15px;
    margin-right: 0;
  }

  .slide-grid-media-diagram {
    border-radius: 32px;

    margin-left: -15px;
  }

  .our-people-section {
    background: linear-gradient(to left, #F5F6FA 0%, #F5F6FA 65%, transparent 65%, transparent 100%);
  }

  #hero-home {
    $ratio: 1176 / 1080;
    .hero-grid {
      height: calc((61.25vw * #{$ratio}) - ((100vw - 1440px) / 2));
    }
    .hero-media {
      height: calc((61.25vw * #{$ratio}) - ((100vw - 1440px) / 2));
    }
  }

  .tab-pane-media-image img.summary {
    max-width: 34rem;
  }
}

@media all and (min-width: 1650px) {

}

@media all and (max-width: 1199px) {

}

@media all and (max-width: 1279px) {
  .tab-pane-media-image img:not(.summary-arrow) {
    width: 430px;
  }
}

@media all and (max-width: 1023px) {
  .footer-title {
    margin-top: 1.75rem;
  }

  .navbar-menu {
    position: absolute;
    top: 100%;

    right: 0;
    left: 0;

    background-color: white;
    box-shadow: 0 8px 12px rgba(black, 0.1);
    border-top: 1px solid #eaeaea;

    padding: 5px 0;

    margin-top: 0;

    border-radius: 0;

    display: none;

    text-align: center;

    opacity: 0;
    transition: opacity .3s ease;
  }

  .navbar-expand-md .navbar-nav {
    flex-direction: column;
    align-items: unset;
    justify-content: unset;

    text-align: left;
    .nav-item > .nav-link {
      padding: 0.5rem 1rem;
      font-size: 1rem;

      color: black;
    }
  }

  .navbar-toggler {
    order: 1;
    margin-left: auto;
    border: 0;
    padding: 0;

    border-radius: 0;
  }

  .navbar-expand-md .navbar-toggler {
    display: block;
  }

  .navbar-toggler,
  .navbar-brand {
    z-index: 1061;
  }

  .menu-open {
    opacity: 1;
  }

  .navbar-toggler-icon {
    position: relative;

    border-radius: 0;
  }

  .navbar-toggler-icon:before {
    content: "\f0c9";
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;

    color: $color-dark;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .custom-dropdown {
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
    box-shadow: unset;
    transition: unset;
    border: 0;
    margin-top: 0;
    &-list {
      padding: 0 0 0 1rem;
      text-align: left;
    }
    &-list li a {
      color: rgba($color-dark, 0.6);
      font-weight: 400;
    }
  }

  .navbar-column:nth-child(1) {
    display: flex;
    justify-content: space-between;

    min-width: 100%;
  }

  .people-data-title {
    background-color: white;

    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 45px;
    padding-bottom: 30px;
    span {
      font-size: 1.75rem;
    }
    p {
      font-size: 1.125rem;
      line-height: 1.425;
    }
    span + p {
      margin-top: 0.25rem;
    }
    > div {
      position: relative;

      padding-left: 20px;
    }
    > div:before {
      content: "";

      position: absolute;

      top: 0;
      left: 0;

      width: 3px;
      height: 100%;

      display: block;

      background-color: $color-primary;
    }
    &:before {
      display: none;
    }
  }

  .tab-pane-grid {
    margin-top: 0;
    margin-bottom: 0;
  }

  .section-people-data-grid {
    padding-top: 0;
    padding-bottom: 0;
  }

  .tab-pane-media {
    margin-left: auto;
    margin-right: auto;
  }

  .tab-pane-grid,
  .tab-pane-grid-item {
    display: block;
  }

  .people-data-grid {
    padding: 0;
  }

  .people-data-content-holder {
    height: auto !important;
  }
}

@media all and (max-width: 768px) {

}

@media all and (max-width: 767px) {
  h1 {
    font-size: 2.4rem;
    line-height: 1.225;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.4rem;
  }

  h6 {
    font-size: 1.2rem;
  }

  .swiper-btn {
    display: none;
  }

  .swiper-testimonials-wrapper {
    padding: 0 0 40px;
  }

  .swiper-testimonials {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .swiper-values-wrapper {
    padding: 0 0 40px;
  }

  .swiper-values {
    padding-left: 0;
    padding-right: 0;
  }

  .testimonial {
    text-align: center;
    &-content p {
      font-size: 0.875rem;
      line-height: 1.625;
    }
    &-action {
      text-align: center;
    }
  }

  .values-card {
    box-shadow: none;
  }

  .navbar-column {
    min-width: unset;
  }

  .hero-media-video {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -30px;
  }

  .ul-trusted li a img {
    height: 1.25rem;
  }

  #hero-home {
    .hero-media-video {
      background-color: #F8F9FD;
    }
    .hero-content {
      margin-top: 1rem;
    }
  }

  .insights-media-grid-caption {
    box-shadow: none;
  }
}

@media all and (max-width: 575px) {

}

@media all and (max-width: 320px) {

}

@media screen and (orientation: portrait) {
  .hero-full-h {
    > .d-flex {
      min-height: unset;
    }
  }
}
